@import "tailwindcss";

@theme {
  --color-brand-50: #fbf3f3;
  --color-brand-100: #f5e4e5;
  --color-brand-200: #ebc4c5;
  --color-brand-300: #dc9a9d;
  --color-brand-400: #c9676c;
  --color-brand-500: #b93e45;
  --color-brand-600: #a12b32;
  --color-brand-700: #882228;
  --color-brand-800: #731f24;
  --color-brand-900: #621e23;
  --color-brand-950: #350c0f;

  --color-accent: #b48a53;
  --color-success: #10b981;

  --color-paper: #ffffff;
  --color-ink: #1e293b;
  --color-ink-light: #64748b;

  --font-sans: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-serif: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@layer base {
  body {
    direction: rtl;
    background-color: var(--color-brand-50);
    color: var(--color-brand-700);
    font-family: var(--font-sans);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
  }
}

@layer utilities {
  .rounded-3xl, .rounded-2xl, .rounded-xl {
    border-radius: 12px !important;
  }
  .shadow-sm, .shadow, .shadow-md, .shadow-lg, .shadow-xl, .shadow-2xl {
    box-shadow: none !important;
  }
}
