@import "tailwindcss";

@theme {
  --color-brand-50: #fcf4f5;
  --color-brand-100: #fae6e9;
  --color-brand-200: #f4cdd4;
  --color-brand-300: #eaaab7;
  --color-brand-400: #db7a8d;
  --color-brand-500: #c9516c;
  --color-brand-600: #ab3853;
  --color-brand-700: #8a2538;
  --color-brand-800: #742332;
  --color-brand-900: #62212d;
  --color-brand-950: #380e18;

  --color-accent: #b48a53;
  --color-success: #10b981;

  --color-paper: #ffffff;
  --color-ink: #1e293b;
  --color-ink-light: #64748b;

  --font-sans: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-serif: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@layer base {
  body {
    direction: rtl;
    background-color: var(--color-brand-50);
    color: var(--color-brand-700);
    font-family: var(--font-sans);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
  }
}

@layer utilities {
  .rounded-3xl, .rounded-2xl, .rounded-xl {
    border-radius: 12px !important;
  }
  .shadow-sm, .shadow, .shadow-md, .shadow-lg, .shadow-xl, .shadow-2xl {
    box-shadow: none !important;
  }
}
